In [1]:
import pandas as pd
import numpy as np
import matplotlib as mlp
import seaborn as sns
import plotly as plt

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv("data_step1.csv")

In [4]:
data.head()

,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,...,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc,usdrub,salary,mortgage_rate,unemployment
0,2011-08-20,43,27.0,4.0,NaN,NaN,1983.0,NaN,NaN,NaN,...,22,1,0,52,4,5850000,29.0048,44898.7,11.84,0.014
1,2011-08-23,34,19.0,3.0,NaN,NaN,1958.0,NaN,NaN,NaN,...,29,1,10,66,14,6000000,28.9525,44898.7,11.84,0.014
2,2011-08-27,43,29.0,2.0,NaN,NaN,1958.0,NaN,NaN,NaN,...,27,0,4,67,10,5700000,28.8082,44898.7,11.84,0.014
3,2011-09-01,89,50.0,9.0,NaN,NaN,2000.0,NaN,NaN,NaN,...,4,0,0,26,3,13100000,28.9655,44898.7,11.92,0.014
4,2011-09-05,77,77.0,4.0,NaN,NaN,1915.0,NaN,NaN,NaN,...,236,2,91,195,14,16331452,29.4625,44898.7,11.92,0.014

На этом шаге поработаем с численными признаками

Логарифмируем целевую переменную

In [5]:
data = data.assign(log_price_doc=np.log1p(data['price_doc']))
data = data.drop('price_doc', axis=1)

Разделим колонки на числовые и категориальные, поработаем с каждой отдельно

In [6]:
numeric_columns = data.loc[:,data.dtypes != object].columns

In [7]:
numeric_columns

Index(['full_sq', 'life_sq', 'floor', 'max_floor', 'material', 'build_year',
       'num_room', 'kitch_sq', 'state', 'area_m',
       ...
       'church_count_5000', 'mosque_count_5000', 'leisure_count_5000',
       'sport_count_5000', 'market_count_5000', 'usdrub', 'salary',
       'mortgage_rate', 'unemployment', 'log_price_doc'],
      dtype='object', length=272)

Поработаем с числовыми колонками. Так как основные мы уже обработали руками, то оставшиеся пропуски заполним средним значением.
Можно было бы еще пристальнее обработать данные руками, изучить все столбцы, но боюсь на это не хватит времени

In [8]:
for col in numeric_columns:
    data[col] = data[col].fillna(data[col].mean())

In [9]:
data[numeric_columns]

,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,area_m,...,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,usdrub,salary,mortgage_rate,unemployment,log_price_doc
0,43,27.00000,4.0,12.558974,1.827121,1983.000000,1.909804,6.399301,2.107025,6.407578e+06,...,22,1,0,52,4,29.0048,44898.7,11.84,0.014000,15.581952
1,34,19.00000,3.0,12.558974,1.827121,1958.000000,1.909804,6.399301,2.107025,9.589337e+06,...,29,1,10,66,14,28.9525,44898.7,11.84,0.014000,15.607270
2,43,29.00000,2.0,12.558974,1.827121,1958.000000,1.909804,6.399301,2.107025,4.808270e+06,...,27,0,4,67,10,28.8082,44898.7,11.84,0.014000,15.555977
3,89,50.00000,9.0,12.558974,1.827121,2000.000000,1.909804,6.399301,2.107025,1.258354e+07,...,4,0,0,26,3,28.9655,44898.7,11.92,0.014000,16.388123
4,77,77.00000,4.0,12.558974,1.827121,1915.000000,1.909804,6.399301,2.107025,8.398461e+06,...,236,2,91,195,14,29.4625,44898.7,11.92,0.014000,16.608603
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30466,44,27.00000,7.0,9.000000,1.000000,1975.000000,2.000000,6.000000,3.000000,1.005305e+07,...,26,1,2,84,6,55.2655,64310.0,13.46,0.017708,15.816991
30467,86,59.00000,3.0,9.000000,2.000000,1935.000000,4.000000,10.000000,3.000000,7.307411e+06,...,182,1,82,171,15,55.2655,64310.0,13.46,0.017708,17.034386
30468,45,35.16718,10.0,20.000000,1.000000,1912.195364,1.000000,1.000000,1.000000,2.553630e+07,...,12,0,1,11,1,55.2655,64310.0,13.46,0.017708,15.757264
30469,64,32.00000,5.0,15.000000,1.000000,2003.000000,2.000000,11.000000,2.000000,6.050065e+06,...,31,1,4,65,7,55.2655,64310.0,13.46,0.017708,16.418200
30470,43,28.00000,1.0,9.000000,1.000000,1968.000000,2.000000,6.000000,2.000000,4.395333e+06,...,16,0,9,54,10,55.2655,64310.0,13.46,0.017708,15.538277

Посмотрим на корреляцию данных, чтобы выкинуть те, которые дублируют друг друга. Для этого используем пару функций, которые мы честно своровали на stackoverflow, чтобы не изобретать велосипед

In [10]:
data[numeric_columns].corr()

,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,area_m,...,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,usdrub,salary,mortgage_rate,unemployment,log_price_doc
full_sq,1.000000,0.154236,0.089450,0.057390,0.015820,0.039733,0.334760,0.009640,-0.038544,0.056303,...,0.028579,0.021568,0.030218,0.001580,-0.041254,0.020266,0.019381,0.028893,0.005168,0.271408
life_sq,0.154236,1.000000,0.039641,0.034683,0.009587,0.015877,0.168833,0.000177,-0.060054,0.045480,...,0.014792,0.008319,0.018853,-0.013896,-0.045665,0.010951,0.011351,0.020063,0.017652,0.119593
floor,0.089450,0.039641,1.000000,0.373873,-0.007439,0.113695,-0.004654,-0.006957,-0.083337,-0.019321,...,-0.045475,-0.012222,-0.044093,-0.101769,-0.123534,-0.017729,-0.018229,0.012125,-0.001468,0.117870
max_floor,0.057390,0.034683,0.373873,1.000000,0.045915,0.233876,-0.014220,0.020345,-0.061203,-0.079591,...,-0.040605,-0.048229,-0.040977,-0.083772,-0.094960,0.010766,0.001371,0.002189,0.002094,0.078692
material,0.015820,0.009587,-0.007439,0.045915,1.000000,0.047837,-0.026924,0.038747,-0.031320,0.001012,...,0.037626,0.041689,0.037472,0.082620,0.063992,0.002165,-0.000479,0.014687,0.005479,0.011807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
usdrub,0.020266,0.010951,-0.017729,0.010766,0.002165,0.117801,0.014028,-0.003989,-0.076191,0.058130,...,0.024966,-0.027875,0.028745,0.005226,-0.012990,1.000000,0.629110,0.684690,0.352825,0.113989
salary,0.019381,0.011351,-0.018229,0.001371,-0.000479,0.223293,0.007725,-0.005316,-0.036573,0.050963,...,0.005863,-0.047710,0.010874,-0.021242,-0.028695,0.629110,1.000000,0.470063,0.668092,0.145178
mortgage_rate,0.028893,0.020063,0.012125,0.002189,0.014687,0.006075,0.022920,0.001646,-0.084220,0.107835,...,0.008376,-0.007300,0.011813,-0.032933,-0.057930,0.684690,0.470063,1.000000,0.420291,0.078786
unemployment,0.005168,0.017652,-0.001468,0.002094,0.005479,0.174453,0.006984,0.003869,-0.011190,0.029652,...,-0.009249,-0.035200,-0.004273,-0.031712,-0.034817,0.352825,0.668092,0.420291,1.000000,0.091968
log_price_doc,0.271408,0.119593,0.117870,0.078692,0.011807,0.115808,0.347790,0.009964,0.067892,-0.156493,...,0.148946,0.130745,0.134175,0.223386,0.162569,0.113989,0.145178,0.078786,0.091968,1.000000

In [11]:
def get_redundant_pairs(data):
    pairs_to_drop = set()
    cols = data.columns
    for i in range(0, data.shape[1]):
        for j in range(0, i+1):
            pairs_to_drop.add((cols[i], cols[j]))
    return pairs_to_drop

def get_top_abs_correlations(data, n=5):
    au_corr = data.corr().abs().unstack()
    labels_to_drop = get_redundant_pairs(data)
    au_corr = au_corr.drop(labels=labels_to_drop).sort_values(ascending=False)
    return au_corr[0:n]

print("Top Absolute Correlations")
print(get_top_abs_correlations(data[numeric_columns], 50))

Top Absolute Correlations
railroad_station_walk_km              railroad_station_walk_min                1.000000
public_transport_station_km           public_transport_station_min_walk        1.000000
children_school                       7_14_all                                 1.000000
children_preschool                    0_6_all                                  1.000000
metro_min_walk                        metro_km_walk                            1.000000
raion_build_count_with_material_info  raion_build_count_with_builddate_info    0.999990
young_all                             0_13_all                                 0.999885
young_female                          0_13_female                              0.999871
young_male                            0_13_male                                0.999861
full_all                              female_f                                 0.999850
                                      male_f                                   0.999788
young_all                             0_17_all                                 0.999712
young_male                            0_17_male                                0.999687
young_female                          0_17_female                              0.999673
16_29_all                             16_29_female                             0.999592
                                      16_29_male                               0.999540
0_17_all                              0_13_all                                 0.999445
school_km                             preschool_km                             0.999431
0_17_male                             0_13_male                                0.999402
full_all                              16_29_all                                0.999370
cafe_sum_5000_max_price_avg           cafe_avg_price_5000                      0.999367
0_17_female                           0_13_female                              0.999362
male_f                                female_f                                 0.999282
                                      16_29_male                               0.999215
female_f                              16_29_all                                0.999198
male_f                                16_29_all                                0.999185
children_preschool                    0_6_male                                 0.999180
0_6_all                               0_6_male                                 0.999180
female_f                              16_29_female                             0.999163
0_17_all                              0_17_male                                0.999139
young_all                             young_male                               0.999082
children_preschool                    0_6_female                               0.999065
0_6_all                               0_6_female                               0.999065
0_17_all                              0_17_female                              0.999029
0_13_all                              0_13_male                                0.999013
young_male                            0_17_all                                 0.998985
young_all                             young_female                             0.998962
full_all                              16_29_female                             0.998954
young_all                             0_13_male                                0.998949
                                      0_17_female                              0.998940
cafe_sum_3000_max_price_avg           cafe_avg_price_3000                      0.998925
full_all                              16_29_male                               0.998919
young_male                            0_13_all                                 0.998910
young_female                          0_13_all                                 0.998908
0_13_all                              0_13_female                              0.998884
bulvar_ring_km                        kremlin_km                               0.998804
0_17_female                           0_13_all                                 0.998739
0_17_all                              0_13_male                                0.998722
young_all                             0_13_female                              0.998714
                                      0_17_male                                0.998665
dtype: float64

Удалим колонки, которые коррелируют более, чем на 90%

In [12]:
def correlation(dataset, threshold):
    col_corr = set() # Set of all the names of deleted columns
    corr_matrix = dataset[numeric_columns].corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if (corr_matrix.iloc[i, j] >= threshold) and (corr_matrix.columns[j] not in col_corr):
                colname = corr_matrix.columns[i] # getting the name of column
                col_corr.add(colname)
                if colname in dataset.columns:
                    del dataset[colname] # deleting the column from the dataset

correlation(data, 0.9)

In [13]:
numeric_columns = data.loc[:,data.dtypes!=object].columns
data.shape

(30471, 154)

Более 130 колонок ушли, уже полегче. Оставим пока в таком виде, возможно потом еще попробуем сократить количество столбцов

Проанализируем квазиконстнатные колонки

In [14]:
from sklearn.feature_selection import VarianceThreshold

cutter = VarianceThreshold(threshold=0.1)
cutter.fit(data[numeric_columns])
constant_cols = [x for x in data.columns if x not in cutter.get_feature_names_out()]

data[constant_cols]

,timestamp,product_type,sub_area,green_zone_part,indust_part,culture_objects_top_25,thermal_power_plant_raion,incineration_raion,oil_chemistry_raion,radiation_raion,...,water_1line,big_road1_1line,railroad_1line,ecology,cafe_count_500_price_high,mosque_count_500,mosque_count_1000,mosque_count_1500,mosque_count_2000,unemployment
0,2011-08-20,Investment,Bibirevo,0.189727,0.000070,no,no,no,no,no,...,no,no,no,good,0,0,0,0,0,0.014000
1,2011-08-23,Investment,Nagatinskij Zaton,0.372602,0.049637,yes,no,no,no,no,...,no,no,no,excellent,0,0,0,0,0,0.014000
2,2011-08-27,Investment,Tekstil'shhiki,0.112560,0.118537,no,no,no,no,yes,...,no,no,no,poor,0,0,0,0,0,0.014000
3,2011-09-01,Investment,Mitino,0.194703,0.069753,no,no,no,no,no,...,no,no,no,good,0,0,0,0,0,0.014000
4,2011-09-05,Investment,Basmannoe,0.015234,0.037316,no,no,no,no,yes,...,no,no,yes,excellent,0,0,0,0,0,0.014000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30466,2015-06-30,Investment,Otradnoe,0.096270,0.300323,no,no,yes,no,yes,...,no,no,no,good,0,0,0,0,1,0.017708
30467,2015-06-30,Investment,Tverskoe,0.065444,0.000078,yes,no,no,no,yes,...,no,no,no,poor,0,0,0,0,0,0.017708
30468,2015-06-30,OwnerOccupier,Poselenie Vnukovskoe,0.496315,0.007122,no,no,no,no,no,...,no,no,no,no data,0,0,0,0,0,0.017708
30469,2015-06-30,Investment,Obruchevskoe,0.167526,0.093443,no,no,no,no,yes,...,no,no,no,satisfactory,0,0,0,0,0,0.017708
30470,2015-06-30,Investment,Novogireevo,0.063755,0.038693,no,no,no,no,yes,...,no,no,no,poor,0,0,0,0,0,0.017708

In [15]:
data[constant_cols].describe()

,green_zone_part,indust_part,green_zone_km,cafe_count_500_price_high,mosque_count_500,mosque_count_1000,mosque_count_1500,mosque_count_2000,unemployment
count,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000
mean,0.218922,0.118871,0.300511,0.029405,0.004890,0.019166,0.037806,0.088051,0.014675
std,0.175090,0.118688,0.298402,0.182213,0.069758,0.137110,0.190731,0.283374,0.003087
min,0.001879,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.008000
25%,0.063755,0.019509,0.100951,0.000000,0.000000,0.000000,0.000000,0.000000,0.015000
50%,0.167526,0.072158,0.214336,0.000000,0.000000,0.000000,0.000000,0.000000,0.015000
75%,0.336177,0.195781,0.415498,0.000000,0.000000,0.000000,0.000000,0.000000,0.017000
max,0.852923,0.521867,1.982448,3.000000,1.000000,1.000000,1.000000,1.000000,0.017708

Пока оставим эти колонки, явно бесполезных колонок тут нет, а насколько влияют на таргет эти - пока мы не знаем

В следующем шаге поработаем с категориальными колонками.

In [16]:
data.to_csv('data_step2.csv', index=False, index_label=False)